# Python basics, part 1

## Prerequisites
- None

## Learning objectives
- Use basic mathematical operations of addition, substraction, multiplation, division and exponents
- Create and store numeric and text variables
- Differentiate variable types of float, integer, string, and boolean
- Round numeric float variables 
- Add comments to code
- Use the print function

## References
- https://docs.python.org/3/tutorial/introduction

### Using the Jupyter notebook
- Jupyter notebooks allow you to create independed cells of markdown text (like this cell), raw, text, or code
- You can add cells by clicking the icons in the top right of an existing cell
- The default type is "code"
- Create a code block below this one by pressing the icon with the '+' under the rectangle.
- You can delete it my pressing the trash icon. Carelful! undo doesn't always work well.
- Notice Pressing RETURN starts a new line of code in the block. Pressing SHIFT and RETURN (or ENTER, depending on your keyboard) at the same time executes the code in the block. 
- For the rest of the class when you are instructed to __run__ or __execute__ the code in the code block, press SHIFT and RETURN at the same time. You can all click the button on the menu with the sigle arrow (looks like a 'play' symbol)
  - All the lines in the block are executed, but only the last line prints in the output cell below the code block. 
- If you want to run all the code in all the codeblocks in the notebook, press the double arrow button.  This will restart the 'kernel' and run everething.   
- If the code is not behaving like you expect, try pressing the double arrow button above or 'restart kernel and clear output of cells' under the kernal menu.
- If you want to start again, save this notebook as something else (if you want to keep it) and redownload the original notebook

### Use Python like a calculator

#### Addition and subtraction
In the grey code block below, experiment with addition, subtraction.
- use the '+' symbol for addition and '-' for subtraction
  - Input 2+5 and then run the code
  - play around with other numbers, including decimals and negative numbers

__Multiplication and division__
- use '*' for multiplication, '/' for divide
  - try 2*7 and 2/7
- notice how the output includes decimal when you divide two numbers or start with a decimal
  - try 3*2 and 1.5 *2

__Use  '(' and ')' brackets for numeric operations__
- Try (2+5)/3 and (5+1)/(6+2) - 1
   - We'll see brackets used in other ways, but here they are used for traditional order of operations;

__Raise a numeric value to a power__ 
- use ** to raise a value to a power
 - 4 squared is _4 ** 2_ and the square root of _4 is 4 ** 0.5_ or _4 ** (1/2)_
 - Try using ** in the codeblock below and verify with a handheld calculator

__Experiment with order of operations__
- Experiment with brackets and numerical operations
    - try things like (6-3)**2/2 -1 _you should get an answer of 3.5_ Try others and compare with your handheld calculator

### Creating variables ###

- The equal sign (=) is used to assign a value to a variable.
    - Afterwards, no result is displayed after you excute the code
- Below is an example of a variable called width.  Run the code below.
    - if you want to see the value for width, type 'width' under width = 10 or create a new code block and type 'width' and run the code

In [1]:
width = 10

- You can define several variables in one code block
- You can create variables that are functions of other variables
- run the code in the block below

In [2]:
height = 12
depth = 4
area = height * width
volume = area * depth 
check = volume - area*height*depth

- In the code block below, enter any of the variable names above and run the code
 - Choose new values for width, height, depth and see how area and volume change.  _Be sure to re-run the code for width if you change the value_

- Experiment with creating variables and formulas in the code block below
    - view the value of a variable by adding a new code block and typing the variable and running the code or entering the variable name as the last line before running the code

### Variable types: int and  floats

- Integer numeric types have no decimal. Python returns 'int' for integer types.
- Float numeric types include at least one decimal, which could be a zero.
- Execute the code block below by pressing SHIFT + ENTER

In [3]:
num_int = 42
num_float = 3.14

- in the block below input type(num_float) or type(num_int) and run the code

- change the type of num_int to a float. Input float(num_int)  and run the code

- Careful, float(num_int) returns num_int as a float, but doesnt change the data type of the actual variable. 
To change the data type, num_int = float(num_int) or choose a new variable name.  new_float = float(num_int)
try that below

- Adding, subtracting, and multiplying integers returns another integer.
- Division always returns a float.
- Experiement with  creating new variables and variable types below

### Use the round() function

- Python includes the built in function "round" that will round floats to your desired decimal places
- Execute the code block below to show the value for the variable "z"

In [4]:
z = 11/3
z

3.6666666666666665

- round(z) returns the value for z rounded to the nearest integer
- round(z, 2) returns z rounded to 2 decimal places
- round(z, 4) returns z rounded to 4 decimal places, and so on.
- Try rounding z below.
    - Notice that round(z, n) returns z rounded to n decimal places, but does not redefine the value for z.  If you want to save the variable z rounded to two decimal places, you need to create a new variable z_rounded = round(z, 2) or redefine z as z = round(z, 2)

### Variable types: strings

- Variables that consist of text are strings
 - Python returns 'str' if the variable is text
- Understanding how python handles strings is very useful when we get to working with actual data as some important variables are reported as strings and column and row names may also be string
- enter type(str_var) below str_var in the code block below and excute the code

In [5]:
str_var = 'This is a string'

- You can change numbers that are represented as strings, like '42' to integers or floats
- Strings that have non-numeric elements cannot be converted to numeric types
    - float(text_num) returns text_num to a float and int(text_num) returns text_num to an integer. Try this in the code block below
    - Note that the variable text_num remains unchanged unless you define a new varable: text_num_converted = float(text_num) or redefine text_num: text_num = float(text_num)

In [6]:
text_num = '42'

- You can change numeric types of floats and itegers to strings
- Try converting num_text to a string by entering str(num_text) in the codeblock below num_text

In [7]:
num_text = 78.5

- You cannot convert a string that includes non-numeric characters to a float or integer
- Try entering float(combo) in the codeblock below combo, you should see an error

In [8]:
combo = 'Cara44'

### Variable types: boolean

- Often you will want to select variables based on their values or run tests
- boolean variables are either 'True' or 'False'
 - enter type(true_bool) below true_bool in the code block and run the code

In [9]:
true_bool = True

- to test if a variable is equal to a value use '=='
- type val === 3 below val = 3 and run the code below
- try again with val==4

In [10]:
val = 3.0

- Test if variables are
    - greater than '>'
    - greater than or equal to '=>'
    - less than '<'
    - less than or equal to '<='
In the code block below, create a variable test_val and experiement with tests

### Add comments to code

- In the future, you will write many lines of code in a signle block in a notebook like this one or in a separate .py file
- You will want to explain your code to yourself and others using comments or "comment out" variables you don't want to use. 
 - Anything in python preceeded by '#' will be ignored an not executed.
- Run the code below and notice how the comments are ignored.

In [1]:
# Here are some comments 
# I can use these to explain why I want to calculate the value of q = a**2 + b**2 or provide directions
a = 4
b = 3
q = a**2 + b**3
# To find the value of q, type 'q' on the line below and press RETURN + ENTER

### Use the print function

- so far, values for a variable display if theyy are the last (or only) line in codeblock
- we can use the print() function to print values regardless of placement
- execute the code block below
  - Notice that you can create a text variable or print text directly

In [12]:
prompt_a = 'Here is our value for a'
print('Here is our value for q')
print(q)
print(prompt_a)
print(a)

Here is our value for q
43
Here is our value for a
4

### Up next
- Next, we will expore python types of lists, tuples, sets, and dictionaries