## Pandas basics part 2 - DataFrames

## Prerequisites 
- Pandas basics part 1

### References 
- https://wesmckinney.com/book/pandas-basics

## Learning objectives 
- Create Pandas DataFrames
- Get information about the data contained in a dataframe
- Perform mathematical operations on pandas DataFrames
- Select portions of dataframes based column name
- Select portions of dataframes based values in columns
-

#### Import the Pandas and Numpy modules
- When we use Pandas, we almost always use numpy too
- import pandas as pd. Every time you create a pandas object or use a bulit in pandas method, you preface with "pd."
- import numpy as np. Every time you create a numpy object or use a bulit in numpy method, you preface with "np."

In [1]:
# Run this code block to import the pandas and numpy libraries
import pandas as pd
import numpy as np

### Pandas DataFrames
- DataFrame are tables of data that an index and more than one column
    - Each column is a pandas Series
- There are many ways to create a DataFrame, most of the time you will load in an .xlsx, .csv, or .txt file
- We'll create an example DataFrame from dictionaries, we'll show how to load in data later.
- In this example, we created our own index values which we will interpret as employee ID numbers.  If we did not include an index, we would get an autogenerated index starting with 0.

In [2]:
# run this code block to create an example dataframe with data
exdf = pd.DataFrame(index = [1001, 1002, 1003, 1004, 1005], data={'Name': ['McDaniel', 'Aucejo', 'Tang', 'Manelli', 'Kuminoff'],
                                                                 'Hours': [40, 38, 42, 41.5, 21],
                                                                  'Gender': ['Female', 'Male', 'Female', 'Male', 'Male']})
print(exdf)

          Name  Hours  Gender
1001  McDaniel   40.0  Female
1002    Aucejo   38.0    Male
1003      Tang   42.0  Female
1004   Manelli   41.5    Male
1005  Kuminoff   21.0    Male

- This is a small dataframe, so the whole thing prints out nicely. We could also create an empty dataframe with index values and column names.

In [3]:
# Run this code block to create an empty dataframe with column names
# You would do this if you want to create dataframe and fill in the entries later
empty_df = pd.DataFrame(columns=['Name', 'Hours', 'Gender'])
print(empty_df)

Empty DataFrame
Columns: [Name, Hours, Gender]
Index: []

- In the codeblock below, experiment with creating DataFrames

#### Get information about a dataframe
##### Use the .info() method
- The method _dataframe_.info() prints out information about a dataframe. This method provides information about
   - the length (number of rows) and values of the index of the dataframe
   - names and numbers of columns
   - the number of non-null (not NaN) values in each column
   - the data type of each column.  Text values are objects, numerical values are float64 or int (for integer).
      - This is important because you can only perform mathematical and statistical operations on numerical data
- Run the code exdf.info() get information about the dataframe _exdf_ in the codeblock below

#### Find names of the columns and the values of the index
- _dataframe_.index returns the index values of _dataframe_
    - Think of index values as row names.  In excel, these are the row numbers. In python, they can be almost anything.
- _dataframe_.column returns the names of the columns in _dataframe_
- In the codeblock below, try out printing the index values and column names of _exdf_

#### Find the number of rows and columns of a dataframe
- Dataframes have a shape, or # of rows and # of columns
- _dataframe_.shape returns the shape of _dataframe_ as a tuple tuple (_# of rows, # of columns_)
- You can find just the number of rows, or the lend of the index, of _dataframe_ with the function _len(dataframe)_
- If you want to find the number of columns use  _len(dataframe_.columns)_
- Try .size and len() on _exdf_ in the code block below.  Verify this is consistent with what you find with _exdf_.info()

#### Adding columns to a dataframe
- _dataframe['New Column'] = _newdata_ adds a column in _dataframe_ called 'New Column'
    - _newdata_ can be a list, an array, or series.
        - If _newdata_ is a series, it must have the same index values as _dataframe_.  If not, the new column values will all be _NaN_
    - _newdata_ must also be the same length as _dataframe_
- In the codeblock below, create a list _ages_ = [42, 21, 18, 38, 19].  Use this list to create a new column called 'Age' in exdf
    - notice that you did not need to redefine the data frame _exdf_, the column 'Age' is saved
    - try adding columns with fewer than 5 elements and confirm you receive an error

#### Dropping columns from a dataframe
- _dataframe_.drop('column name', axis=1) returns _dataframe_ with the column 'column name' removed.
   - We need to include the argument _axis=1_ to specify that we want to remove all rows from 'column name'
   - This method returns a new dataframe.  To save it, you must either redefine _dataframe_ = _dataframe.drop('column name', axis=1) or define a new dataframe
- _dataframe_.drop(['column name 1', column name 2'], axis=1) returns _dataframe_ with both 'column name 1' and 'column name 2' removed
- Experiment dropping columns of _exdf_ in the codeblock below.  Note that _exdf_ is preserved each time

#### Select  a column by name
- _dataframe_['column name'] returns a series with the same index as _dataframe_ and the values from the column
- Try creating new series with the names, hours, and genders, of the employees in _exdf_ in the code block below

#### Select multiple columns by name
- Create a list of column names to select more than one column
- _dataframe_[['column name 1', 'column name 2']] returns a dataframe with the same index as dataframe and the columns you choose to include in the list.
- In the codeblock below, create a new dataframe that includes only name and gender of the employees in _exdf_

#### Select rows of a dataframe based on numeric values in a column
- _dataframe_['Column name'] returns a series.  
- _dataframe_['Column name'] > z_  returns a series with the same index values as _dataframe_ and boolean values True if the values in the column are greater than _z_ and False otherwise.
- In the codeblock experiment with creating series of boolean True/False based on numerical conditions of the 'Hours' column of _exdf_
    - '>' for greater than
    - '>=' for greater than or equal to
    - '==' for equal to
    - '<' for less than
    - '<=' for less than or equal to

- _dataframe[dataframe['column name'] > z]_ will return a new dataframe comprised of rows where _dataframe['column name'] > z_ is True
- Experiement creating subsets of the dataframe _exdf_ in the codeblock below

#### Selecting rows of a dataframe based on non-numeric values
-   _dataframe['column name']=='string'_ returns a series with the same index values as dataframe and boolean values True if the row value in the column is 'string' and 'False' otherwise
- Once we have the series with the same index as _dataframe_ and boolean values for 'True' or 'False' we can create a new dataframe that only contains the desired entries.
- _dataframe[dataframe['column name']=='string'] returns the a dataframe comprised of the rows and columns of _dataframe_ where the values of 'column name' are 'string'
- In the code block below create a dataframe of only the males or females in _exdf_

- Just like series, we can select rows if they are equal to more than one element
- _stringlist = ['string 1', 'string 2']_
- _dataframe['column name']_.isin(stringlist)_ returns a series with boolean values for 'True' if the entry in the series is equal to either 'string1' or 'string2' and false otherwise.
- dataframe[_dataframe['column name'].isin(stringlist)] returns a dataframe where the condition _dataframe['column name'].isin(stringlist)_ is true.
   - We could also do this in one line _dataframe[_dataframe['column name'].isin(['string 1', 'string 2'])]_
- Try creating a new dataframe the the name list  ['Aucejo','McDaniel']

#### Select data based on index value
- DataFrame has special attributes .loc and .iloc for indexing
- _dataframe.loc['index value']_ returns the row of _dataframe_ with index equal to 'index value' as a series
- _dataframe.loc['index value', 'column name'] returns the value in the 'cell' of index value and column name
- _dataframe.loc[['index value 1', 'index value 2']] returns a data frame whith _dataframe_ index values 'index value 1', and 'index value 2'
   - you can also add column names as lists
- .iloc is used for the location, not the name of a row. For example, _dataframe.iloc[0]_ return the first row of _dataframe_.  We won't use this very often, but you may find it useful
- Try selecting different portions of exdf using the .loc property of _exdf_.
    - Recall you can check the index values of _exdf_ by excuting _exdf.index_

#### Adding rows to a dataframe
- _dataframe.loc['new index value']_ will create a new row with a new index value.  Unless you specify the data, the column values will be _NaN_
   - If you want to add data as a list, the length of the list of data must have a length of the same number of columns as _dataframe_
   - If you want to add data one cell at a time, _dataframe.loc['new index value', 'column name'] = _val_ will place _val_ in the cell in the dataframe and _NaN_ in all other columns
- Try adding a row to _exdf_ with index value 1006 for an employee named 'Townsend' who worked 32 hours and is Male.
- run print(exdf) after adding

Up next: Loading data