## import the pandas module, we will want both pandas and numpy

In [1]:
import pandas as pd
import numpy as np

## We can read csv files, tab files, excel files and all sorts of things

In [2]:
house_df = pd.read_csv('house_price_sample.csv')

In [3]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          800 non-null    float64
 1   bedrooms       800 non-null    int64
 2   bathrooms      800 non-null    float64
 3   sqft_living    800 non-null    int64
 4   sqft_lot       800 non-null    int64
 5   floors         800 non-null    float64
 6   waterfront     800 non-null    int64
 7   view           800 non-null    int64
 8   condition      800 non-null    int64
 9   grade          800 non-null    int64
 10  sqft_above     800 non-null    int64
 11  sqft_basement  800 non-null    int64
 12  age.at.sale    800 non-null    int64
 13  renovated      800 non-null    object
 14  sqft_living15  800 non-null    int64
 15  sqft_lot15     800 non-null    int64
dtypes: float64(3), int64(12), object(1)
memory usage: 100.1+ KB

## Descriptive Statistics

notice how renovated is not include because it is yes/no and an object

In [4]:
house_df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,age.at.sale,sqft_living15,sqft_lot15
count,8.000000e+02,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,5.466508e+05,3.407500,2.158750,2120.667500,16502.618750,1.530625,0.007500,0.292500,3.317500,7.748750,1824.786250,295.881250,42.650000,2037.838750,14474.172500
std,3.566983e+05,0.959215,0.775355,966.854348,42803.100006,0.557124,0.086331,0.853143,0.580616,1.175734,886.831793,433.282439,29.965186,741.230647,31333.983874
min,1.049500e+05,1.000000,0.750000,420.000000,725.000000,1.000000,0.000000,0.000000,2.000000,4.000000,420.000000,0.000000,0.000000,690.000000,964.000000
25%,3.297125e+05,3.000000,1.750000,1427.500000,5000.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1200.000000,0.000000,16.000000,1507.500000,4999.500000
50%,4.699500e+05,3.000000,2.250000,1900.000000,7730.500000,1.500000,0.000000,0.000000,3.000000,8.000000,1565.000000,0.000000,38.000000,1880.000000,7659.000000
75%,6.500000e+05,4.000000,2.500000,2606.250000,10961.750000,2.000000,0.000000,0.000000,4.000000,8.000000,2292.500000,550.000000,61.000000,2390.000000,10053.500000
max,3.600000e+06,10.000000,5.250000,7420.000000,641203.000000,3.000000,1.000000,4.000000,5.000000,12.000000,7420.000000,2600.000000,115.000000,5790.000000,325393.000000

## Wrangling and cleaning

examples from McKinney

### See how easy it is to make a dummy variable

In [5]:
# This will create a dummy variable for renovated
dummies = pd.get_dummies(house_df['renovated'], prefix='renovated', drop_first=True, dtype=int)
# The output is a series with the same index as house_df
# now we want to replace renovated in the house_df with the dummy variable column
dummies
# if you want to learn more about how a function or method works, follow with '?'
# for example pd.get_dummies? will return the manual on the method

     renovated_yes
0                0
1                0
2                0
3                0
4                0
..             ...
795              0
796              0
797              0
798              0
799              0

[800 rows x 1 columns]

now relace the renovated column with teh dummy variable column

In [6]:
house_df_dummies = pd.concat([house_df, dummies], axis=1).drop('renovated', axis=1)

In [7]:
house_df_dummies

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,age.at.sale,sqft_living15,sqft_lot15,renovated_yes
0,264500.0,3,1.50,1580,14040,1.0,0,0,3,7,1050,530,35,2240,12000,0
1,410000.0,3,1.00,1230,7020,1.0,0,0,3,7,1090,140,91,1390,5850,0
2,625000.0,2,1.50,1490,5750,1.5,0,0,4,7,1190,300,115,1590,4025,0
3,1060000.0,4,5.25,4140,14757,2.0,0,2,3,11,4140,0,10,4440,15523,0
4,307000.0,3,2.00,1790,7259,1.0,0,0,3,7,1390,400,35,1790,7700,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,385000.0,3,2.25,2110,8000,2.0,0,0,3,8,2110,0,40,1740,7270,0
796,435000.0,4,2.50,1700,6380,1.0,0,0,4,7,850,850,75,1380,6380,0
797,205000.0,3,2.25,1250,952,3.0,0,0,3,8,1250,0,7,1250,1030,0
798,528000.0,4,2.75,2050,7171,1.0,0,0,3,8,1540,510,27,1960,7110,0
799,257000.0,3,1.75,1850,10920,1.5,0,0,3,6,1850,0,100,1510,7871,0

write to file

In [8]:
house_df_dummies.to_csv('house_df_dummies.csv', index=False)
# note we don't want to save the index column